<aside class="recent">
    <h2>Recent</h2>
    <div class="month">Aug 2024</div>
    <ul>
        <li><div class="placeholder"></div><a href="#">What is a Logistic Regression?</a></li>
        <li><div class="placeholder"></div><a href="#">Predicting Attrition</a></li>
        <li><div class="placeholder"></div><a href="#">Attention is all you need: A Review</a></li>
    </ul>
    <div class="month">May 2024</div>
    <ul>
        <li><div class="placeholder"></div><a href="#">LeetCode: 2Sum {easy}</a></li>
        <li><div class="placeholder"></div><a href="#">Designing Mobile Application</a></li>
    </ul>
    <div class="month">April 2024</div>
    <ul>
        <li><div class="placeholder"></div><a href="#">LeetCode: 2Sum {easy}</a></li>
    </ul>
</aside>